*.mov
*.mp4
.DS_Store
**/.DS_Store
**/*.pyc
output_test_plots
output_validation_plots
**/DATASET
descrittori*.pkl
descrittori_copy.py
pippo.py
.venv
.venvTF
.venvWSL
.venvTTTT
*.keras
avvia_addestramenti.py
Predictions